/* You can add global styles to this file, and also import other style files */
$primary: #3a71ba;
$info: black;
$warning: #3a71ba;

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

label.xng-breadcrumb-trail {
    color: #3a71ba;
}